.movies-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 79px 0 0 0;
}

.movies-container__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(1%, 1fr));
  list-style-type: none;
  gap: 32px;
  width: 100%;
}

@media (max-width: 990px) {
  .movies-container__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 24px;
  }

  .movies-container {
    padding: 74px 0 12px;
  }
}

@media (max-width: 670px) {
  .movies-container__list {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

@media (max-width: 400px) {
  .movies-container {
    padding: 50px 0 0 0;
  }
}