.search__error {
  padding-top: 20px;
  line-height: 34px;
  color: #a0a0a0;
  font-weight: 500;
  margin: 0 auto;
  font-style: normal;
  font-size: 28px;
}

.search__form-err {
  color: #ee3465;
  margin-top: 20px;
  text-align: center;
}
