.nav__main {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}

.nav__links {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 30px;
}

.nav__link {
  line-height: 16px;
  font-size: 12px;
  transition: 0.4s;
  text-decoration: none;
}

.nav__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav__signup {
  color: #fff;
}

.nav__signin {
  margin: 0;
  border-radius: 3px;
  padding: 8px 20px;
  background-color: #3ddc84;
  color: #000;
}

@media (max-width: 600px) {
  .nav__links {
    gap: 14px;
  }

  .nav__link {
    font-weight: 500;
    font-size: 10px;
  }

  .nav__signin {
    padding: 5px 12px;
    border-radius: 3px;
    background-color: #3ddc84;
    color: #000;
  }
}