.account {
  display: flex;
  flex-direction: column;
}

.account__content {
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account__title {
  margin: 0 0 123px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.account__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
}

.account__label {
  padding: 0 0 5px;
  margin: 0 0 5px;
  display: flex;
  border-bottom: 1px solid #424242;

}

.account__label:last-child {
  margin: 20px 0 0;
  border-bottom: none;
}

.account__name {
  margin: 0 0 10px;
  padding: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  min-width: 140px;
}

.account__input {
  padding: 0;
  margin: 0 0 10px;
  text-align: right;
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  background-color: #202020;
  color: #fff;
  border: none;
}

.account__buttons {
  margin: 0 auto;
  padding: 205px 0 0;
  text-align: center;
  max-width: 148px;
}

.account__button-submit {
  padding: 0;
  margin: 0 0 16px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  background: #202020;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  transition: 0.4s;
}

.account__button-submit:hover {
  cursor: pointer;
  opacity: 0.8;

}

.account__button-signout {
  margin: 0;
  padding: 0;
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: 0.4s;
}

.account__button-signout {
  cursor: pointer;
  opacity: 0.8;

}

@media (max-width: 770px) {
  .account__content {
    padding: 231px 0;
  }

  .account__title {
    margin-bottom: 87px;
  }

  .account__buttons {
    padding-top: 190px;
  }

  .account__button-submit {
    margin: 0 0 13px;
  }
}

@media (max-width: 400px) {
  .account__content {
    padding: 64px 30px 40px;
  }

  .account__title {
    margin-bottom: 81px;
  }

  .account__name {
    margin: 0;
  }

  .account__label {
    padding: 0 0 16px;
    margin: 0 0 17px;
  }
}

@media (max-width: 400px) {
  .account__buttons {
    padding-top: 347px;
  }

  .account__button-submit {
    font-size: 12px;
  }

  .account__button-signout {
    font-size: 12px;
  }
}